$themes: (
    // Colors based off of the apple dark color cheat sheet
    // @see https://sarunw.com/posts/dark-color-cheat-sheet/
    apple-light:
        (
            // #region Apple Light Background
            // #region Primary Colors
            theme-primary-light-highlight: #52b1ff,
            theme-primary-light: #2997ff,
            theme-primary: #007aff,
            theme-primary-dark: #0062d9,
            theme-primary-dark-hightlight: #004ab3,
            // #endregion Primary Colors
            system-background: #ffffffff,
            system-background-secondary: #f2f2f7ff,
            system-background-tertiary: #e5e5eaff,
            system-background-grouped: #ffffffff,
            system-background-grouped-secondary: #f2f2f7ff,
            system-background-grouped-tertiary: #e5e5eaff,
            system-mask: rgba(0, 0, 0, 0.5),
            // #endregion Apple Light Background
            // #region Apple Light Label
            label-primary: #000000ff,
            label-secondary: #3c3c4399,
            label-tertiary: #3c3c434d,
            label-quaternary: #3c3c432e,
            placeholder-text: #3c3c434d,
            // #endregion Apple Light Label
            // #region Apple Light Separator
            separator: #3c3c434a,
            opaque-separator: #c6c6c8ff,
            // #endregion Apple Light Separator
            // #region Apple Light Tint Colors
            system-blue: #007affff,
            system-green: #34c759ff,
            system-indigo: #5856d6ff,
            system-orange: #ff9500ff,
            system-pink: #ff2d55ff,
            system-red: #ff3b30ff,
            system-teal: #5ac8faff,
            system-yellow: #ffcc00ff,
            // #endregion Apple Light Tint Colors
            // #region Apple Light Communication Colors
            warning-color: #ff9500ff,
            // System Orange
            error-color: #ff3b30ff,
            // System Red
            success-color: #34c759ff,
            // System Green
            // #endregion Apple Light Communication Colors
            // #region Apple Light Grays
            neutral-gray: #8e8e93ff,
            neutral-gray2: #aeaeb2ff,
            neutral-gray3: #c7c7ccff,
            neutral-gray4: #d1d1d6ff,
            neutral-gray5: #e5e5eaff,
            // Tertiary System Background
            neutral-gray6: #f2f2f7ff,
            // Secondary System Background
            // #endregion Apple Light Grays
        ),
    apple-dark: (
        // #region Primary Colors
        // dark and light mean the reverse for dark themes.
        theme-primary-light-highlight: #004db3,
        theme-primary-light: #0065d9,
        // System-blue
        theme-primary: #0a84ffff,
        theme-primary-dark: #33a0ff,
        theme-primary-dark-highlight: #5cb8ff,
        // #region Apple Dark Background
        system-background: #000000ff,
        system-background-secondary: #1c1c1eff,
        system-background-tertiary: #2c2c2eff,
        system-background-grouped: #000000ff,
        system-background-grouped-secondary: #1c1c1eff,
        system-background-grouped-tertiary: #2c2c2eff,
        system-mask: rgba(255, 255, 255, 0.4),
        // #endregion Apple Dark Background
        // #region Apple Dark Label
        label-primary: #ffffffff,
        label-secondary: #ebebf599,
        label-tertiary: #ebebf54d,
        label-quaternary: #ebebf52e,
        placeholder-text: #ebebf54d,
        // #endregion Apple Dark Label
        // #region Apple Dark Separator
        separator: #54545899,
        opaque-separator: #38383aff,
        // #endregion Apple Dark Separator
        // #region Apple Dark Tint Colors
        system-blue: #0a84ffff,
        system-green: #30d158ff,
        system-indigo: #5e5ce6ff,
        system-orange: #ff9f0aff,
        system-pink: #bf5af2ff,
        system-red: #ff453aff,
        system-teal: #64d2ffff,
        system-yellow: #ffd60aff,
        // #endregion Apple Dark Tint Colors
        // #region Apple Dark Communication Colors
        warning-color: #ff9f0aff,
        // System Orange
        error-color: #ff453aff,
        // System Red
        success-color: #30d158ff,
        // System Green
        // #endregion Apple Dark Communication Colors
        // #region Apple Dark Grays
        neutral-gray: #8e8e93ff,
        neutral-gray2: #636366ff,
        neutral-gray3: #48484aff,
        neutral-gray4: #3a3a3cff,
        neutral-gray5: #2c2c2eff,
        // Tertiary System Background
        neutral-gray6: #1c1c1eff,
        // Secondary System Background
        // #endregion Apple Dark Grays
    )
);
