$themes: (
    // Colors based off of the apple dark color cheat sheet
    // @see https://sarunw.com/posts/dark-color-cheat-sheet/
    appleLight: (
        // #region Apple Light Background
        system-background: #FFFFFFFF,
        system-background-secondary: #F2F2F7FF,
        system-background-tertiary: #E5E5EAFF,
        system-background-grouped: #FFFFFFFF,
        system-background-grouped-secondary: #F2F2F7FF,
        system-background-grouped-tertiary: #E5E5EAFF,
        // #endregion Apple Light Background
        // #region Apple Light Label
        label-primary: #000000FF,
        label-secondary: #3C3C4399,
        label-tertiary: #3C3C434D,
        label-quaternary: #3C3C432E,
        placeholder-text: #3C3C434D,
        // #endregion Apple Light Label
        // #region Apple Light Separator
        separator: #3CeC434A,
        opaque-separator: #C6C6C8FF,
        // #endregion Apple Light Separator
        // #region Apple Light Tint Colors
        system-blue: #007AFFFF,
        system-green: #34C759FF,
        system-indigo: #5856D6FF,
        system-orange: #FF9500FF,
        system-pink: #FF2D55FF,
        system-red: #FF3B30FF,
        system-teal: #5AC8FAFF,
        system-yellow: #FFCC00FF,
        // #endregion Apple Light Tint Colors
        // #region Apple Light Communication Colors
        warning-color: #FF9500FF, // System Orange
        error-color: #FF3B30FF, // System Red
        success-color: #34C759FF, // System Green
        // #endregion Apple Light Communication Colors
        // #region Apple Light Grays
        neutral-gray: #8E8E93FF,
        neutral-gray2: #AEAEB2FF,
        neutral-gray3: #C7C7CCFF,
        neutral-gray4: #D1D1D6FF,
        neutral-gray5: #E5E5EAFF, // Tertiary System Background
        neutral-gray6: #F2F2F7FF, // Secondary System Background
        // #endregion Apple Light Grays
    ),
    appleDark: (
        // #region Apple Dark Background
        system-background: #000000FF,
        system-background-secondary: #1C1C1EFF,
        system-background-tertiary: #2C2C2EFF,
        system-background-grouped: #000000FF,
        system-background-grouped-secondary: #1C1C1EFF,
        system-background-grouped-tertiary: #2C2C2EFF,
        // #endregion Apple Dark Background
        // #region Apple Dark Label
        label-primary: #FFFFFFFF,
        label-secondary: #EBEBF599,
        label-tertiary: #EBEBF54D,
        label-quaternary: #EBEBF52E,
        placeholder-text: #EBEBF54D,
        // #endregion Apple Dark Label
        // #region Apple Dark Separator
        separator: #54545899,
        opaque-separator: #38383AFF,
        // #endregion Apple Dark Separator
        // #region Apple Dark Tint Colors
        system-blue: #0A84FFFF,
        system-green: #30D158FF,
        system-indigo: #5E5CE6FF,
        system-orange: #FF9F0AFF,
        system-pink: #BF5AF2FF,
        system-red: #FF453AFF,
        system-teal: #64D2FFFF,
        system-yellow: #FFD60AFF,
        // #endregion Apple Dark Tint Colors
        // #region Apple Dark Communication Colors
        warning-color: #FF9F0AFF, // System Orange
        error-color: #FF453AFF, // System Red
        success-color: #30D158FF, // System Green
        // #endregion Apple Dark Communication Colors
        // #region Apple Dark Grays
        neutral-gray: #8E8E93FF,
        neutral-gray2: #636366FF,
        neutral-gray3: #48484AFF,
        neutral-gray4: #3A3A3CFF,
        neutral-gray5: #2C2C2EFF,  // Tertiary System Background
        neutral-gray6: #1C1C1EFF, // Secondary System Background
        // #endregion Apple Dark Grays
    )
);